<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series de Potencias y Fourier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<header>
    <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/022/726/549/small_2x/mathematics-equations-and-formulas-on-blackboard-video.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center opacity-10">
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">Desafío de series de Fourier y Potencias </h2>
            <p class="mt-8 text-pretty text-lg font-medium text-gray-300 sm:text-xl/8">Pon a prueba tus conocimientos sobre series de Fourier y potencias.</p>
        </div>
        
        </div>
    </div>
</header>
<body class="bg-[#0f131e] p-10">
 
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
        <div class="absolute inset-0 -z-10 overflow-hidden">
          <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
            <defs>
              <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M100 200V.5M.5 .5H200" fill="none" />
              </pattern>
            </defs>
        
            <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
          </svg>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
          <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
              <div class="lg:max-w-lg">
                <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Series de Potencias</h1>
                <p class="mt-6 text-xl/8 text-gray-700">Una serie de potencias es un tipo de serie con términos que incluyen una variable. Más concretamente, si la variable es x, entonces todos los términos de la serie implican potencias de x. En consecuencia, una serie de potencias puede considerarse como un polinomio infinito. Las series de potencias se utilizan para representar funciones comunes y también para definir nuevas funciones. En esta sección definimos las series de potencias y mostramos cómo determinar cuándo una serie de potencias converge y cuándo diverge. También mostramos cómo representar ciertas funciones utilizando series de potencias.</p>
            </div>
            </div>
          </div>
          <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="https://slideplayer.es/slide/5614483/2/images/2/SERIES+DE+POTENCIAS.jpg" alt="">
          </div>
          <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
              <div class="max-w-xl text-base/7 text-gray-700 lg:max-w-lg">
                <h2 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-3xl">Características</h2>

                <ul role="list" class="mt-8 space-y-8 text-gray-600">
                  <li class="flex gap-x-3">
                    <span><strong class="font-semibold text-gray-900">Convergencia:</strong> Una serie de potencias puede converger (sumar a un valor finito) en ciertos intervalos de x. El conjunto de valores de x para los cuales la serie converge se denomina radio de convergencia.</span>
                  </li>
                  <li class="flex gap-x-3">
                    <span><strong class="font-semibold text-gray-900">Centro de la serie:</strong> El punto c es donde se centra la serie. La forma (x−c) permite que la serie se desplace a lo largo del eje x.</span>
                  </li>
                  <li class="flex gap-x-3">
                    <span><strong class="font-semibold text-gray-900">Aplicaciones:</strong>Las series de potencias son fundamentales en el análisis matemático y tienen aplicaciones en diversas áreas, como la física, la ingeniería y la economía. Se utilizan para aproximar funciones complicadas mediante polinomios.</span>
                  </li>
                </ul>
                <h1 class="mt-10 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Series de Fourier</h1>
            <p class="mt-6 text-xl/8 text-gray-700">El nombre se debe al matemático francés Jean-Baptiste Joseph Fourier, que desarrolló la teoría cuando estudiaba la ecuación del calor. Fue el primero que estudió tales series sistemáticamente, y publicó sus resultados iniciales en 1807 y 1811. Esta área de investigación se llama algunas veces análisis armónico.</p>
            <p class="mt-6 text-xl/8 text-gray-700">La Serie de Fourier es una herramienta matemática que nos permite obtener información de una función determinada mediante una transformación (donde entenderemos por “transformación” al proceso que reduce la complejidad de una ecuación). Por lo tanto, cuando se hace referencia a la Serie de Fourier (sf), realmente hablamos de la transformación que nos permite extraer información sobre la frecuencia de un ciclo –puede ser cualquier función– cuando conocemos sólo una parte de su comportamiento.</p>
                 </div>
            </div>
          </div>
        </div>
      </div>   
      <div class="my-4 border-t border-white"></div>
      <div style="background-color: #0f131e;" class="p-4 rounded-lg">       
            <h1 class="text-4xl font-bold mb-6 text-center text-white">Cuestionario</h1>
            <form action="/quiz" method="POST">
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
                  <div style="background-color: #776fff;" class="p-4 rounded-lg">
                    <label class="block text-lg font-semibold mb-2 ">1. ¿Qué es una serie de potencias?</label>
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" name="pregunta1" value="a" required class="form-radio text-blue-600">
                                <span class="ml-2">a) Una suma finita de términos.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta1" value="b" class="form-radio text-blue-600">
                                <span class="ml-2">b) Una serie que incluye potencias de una variable.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta1" value="c" class="form-radio text-blue-600">
                                <span class="ml-2">c) Un tipo de ecuación diferencial.</span>
                            </label>
                        </div>
                    </div>
    
                    <div style="background-color: #fd83b6;" class="p-4 rounded-lg">
                        <label class="block text-lg font-semibold mb-2">2. ¿Qué se entiende por radio de convergencia en el contexto de series de potencias?</label>
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" name="pregunta2" value="a" required class="form-radio text-blue-600">
                                <span class="ml-2">a) El número máximo de términos en la serie.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta2" value="b" class="form-radio text-blue-600">
                                <span class="ml-2">b) El conjunto de valores para los cuales la serie converge.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta2" value="c" class="form-radio text-blue-600">
                                <span class="ml-2">c) La distancia entre el centro de la serie y el primer término.</span>
                            </label>
                        </div>
                    </div>
    
                    <div style="background-color: #776fff;" class="p-4 rounded-lg">
                      <label class="block text-lg font-semibold mb-2">3. ¿Cuál es el papel del punto c en una serie de potencias?</label>
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" name="pregunta3" value="a" required class="form-radio text-blue-600">
                                <span class="ml-2">a) Es el centro alrededor del cual se desarrolla la serie.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta3" value="b" class="form-radio text-blue-600">
                                <span class="ml-2">b) Es el valor máximo que puede tomar x.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta3" value="c" class="form-radio text-blue-600">
                                <span class="ml-2">c) Es el coeficiente principal de la serie.</span>
                            </label>
                        </div>
                    </div>
                    <div style="background-color: #fd83b6;" class="p-4 rounded-lg">
                      <label class="block text-lg font-semibold mb-2">4. ¿Qué tipo de funciones se pueden representar mediante series de potencias?</label>
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" name="pregunta3" value="a" required class="form-radio text-blue-600">
                                <span class="ml-2">a) Solo funciones polinómicas.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta3" value="b" class="form-radio text-blue-600">
                                <span class="ml-2">b) Solo funciones periódicas.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta3" value="c" class="form-radio text-blue-600">
                                <span class="ml-2">c) Funciones comunes y nuevas funciones complejas.</span>
                            </label>
                        </div>
                    </div>
                    <div style="background-color: #776fff;" class="p-4 rounded-lg">
                      <label class="block text-lg font-semibold mb-2">5. ¿Quién desarrolló la teoría de las series de Fourier?</label>
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" name="pregunta3" value="a" required class="form-radio text-blue-600">
                                <span class="ml-2">a) Jean-Baptiste Joseph Fourier.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta3" value="b" class="form-radio text-blue-600">
                                <span class="ml-2">b) Isaac Newton.</span>
                            </label>
                            <label class="inline-flex items-center mt-2">
                                <input type="radio" name="pregunta3" value="c" class="form-radio text-blue-600">
                                <span class="ml-2">c) Carl Friedrich Gauss.</span>
                            </label>
                        </div>
                    </div>
                  </div>
                          
    </div>
    <div class="my-4 border-t border-white"></div>
      <h1 class="text-4xl font-bold text-center mb-6 text-white">Calculadora de Series</h1>
      
      <div class="section bg-white p-6 rounded-lg shadow-md mb-4">
          <h2 class="text-2xl font-semibold mb-4">Serie de Potencias</h2>
          <form id="powerSeriesForm" action="/calculate" method="post">
              <label for="powerInput" class="block mb-2">Introduce la ecuacion (ej. y'' - y = 0):</label>
              <input type="text" id="powerInput" name="powerInput" required class="border border-gray-400 p-2 rounded w-full mb-4">
              <button type="submit" class="bg-[#260e69] text-white py-2 px-4 rounded">Calcular</button>
          </form>
          <div id="powerResult">
              {% if power_result %}
                  <h3 class="text-lg font-semibold mt-4">Resultado:</h3>
                  <p>{{ power_result }}</p>
              {% endif %}
          </div>
      </div>
  
      <div class="section bg-white p-6 rounded-lg shadow-md mb-4">
          <h2 class="text-2xl font-semibold mb-4">Serie de Fourier</h2>
          <form id="fourierSeriesForm" action="/calculate_fourier" method="post">
              <label for="fourierInput" class="block mb-2">Introduce la funcion (ej. e⁻ᵗ, 0≤t≤1):</label>
              <input type="text" id="fourierInput" name="fourierInput" required class="border border-gray-400 p-2 rounded w-full mb-4">
              <button type="submit" class="bg-[#260e69] text-white py-2 px-4 rounded">Calcular</button>
          </form>
          <div id="fourierResult">
              {% if fourier_result %}
                  <h3 class="text-lg font-semibold mt-4">Resultado:</h3>
                  <p>{{ fourier_result }}</p>
              {% endif %}
          </div>
      </div>
  </div>
<footer class="bg-[#0f131e] rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contact</a>
      </li>
  </ul>
  </div>
</footer>

</body>
</html>